body {
    font-family: "Lato", sans-serif;
    display: flex;
    background-repeat: no-repeat;
    background: linear-gradient(to left top, #313537, white) fixed;
    background-size: cover;
    justify-content: center;
}

div.w3-card-4 {
    background: ghostwhite;
    box-shadow: 0px 4px 10px black, 0px 4px 40px white;
}

div.w3-card-4 {
    background: ghostwhite;
    box-shadow: 0px 4px 10px black, 0px 4px 40px white;
}

footer {
    background: transparent;
    position: aboslute;
}

w3-image {
    filter: grayscale(50%);
    width: 100%;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}

.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}