@viewport {
	width: device-width;
	zoom: 1.0;
}
/************************************************ body section of the page *********************************************************************************************/
.body{
	background: linear-gradient(to left top, #313537, white) fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	font-family: "ratio";
	justify-content: center;
	margin:0;
}
/************************************************ Navigation Bar Section *********************************************************************************************/
/* mapping are for the top nav bar */
.topnav {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
/* Add a black background color to the top navigation */
.topnav-bar{
	background-color:black;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	color: ghostwhite;
	overflow: hidden;
	width: 100%;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
	background-color: grey;
	color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
	background-color: ghostwhite;
	color: black;
}
/************************************************ Entry form Section *********************************************************************************************/
.entryform{
	padding-top: 10%;
}
.entryform .textarea{
	margin: 0px;
	height: 500px;
	width: 1046px;
}
.container{
	background: transparent;
	box-sizing: inherit;
	margin-left: 16px;
	padding:0.01em 16px;
}
/************************************************ Footer Section *********************************************************************************************/
.footer {
	background: transparent;
	color: ghostwhite;
}
.footer .fa{
	color: ghostwhite;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	letter-spacing: 5px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.social-links {
	color: ghostwhite;
	font-size: medium;
	line-height: 0;
	text-align: center;
}
.social-footer {
	background: ghostwhite;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.social-footer .social-footer-icons li:last-of-type {
	margin-right: 0;
}
.social-footer .social-footer-icons .fa {
	color: ghostwhite;
	font-size: 1.3rem;
}
.social-footer .social-footer-icons .fa:hover {
	color: #4a4a4a;
	transition: color 0.3s ease-in;
}
